/* styles.css */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

/* Basic body styling */
body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Update to align all content to the left */
}

/* Navigation bar styling */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Header styling */
header {
    margin-top: 50px;
}

/* Main content section styling */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Content section for About Me and others */
.content-section {
    margin-bottom: 30px;
}

/* Section title styling */
.content-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Publication and conference item styling */
.publication, .conference {
    margin-bottom: 20px;
}

/* Subsection (paper/conference) title styling */
h3 {
    font-size: 1.4em;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Text paragraph styling */
p {
    margin: 5px 0;
}

/* Link styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Specific about-me section styling for justification */
.about-me {
    text-align: justify;
}

.publication {
    text-align: left;
}

.scrollable-images {
    display: flex; /* Display images in a horizontal row */
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 10px; /* Optional: Adds space between images */
    padding: 10px 0; /* Optional: Adds vertical padding */
}

.scrollable-images img {
    max-height: 200px; /* Optional: Constrain the height of the images */
    object-fit: contain; /* Ensures the images don't stretch/distort */
    flex-shrink: 0; /* Prevent images from shrinking */
}